:root {
  --p: var(--primary, 264 98% 47%);
  --pf: var(--primary-focus, 261 99% 39%);
  --pc: var(--primary-content, 0 0% 100%);
  --s: var(--secondary, 314 100% 47%);
  --sf: var(--secondary-focus, 314 100% 37%);
  --sc: var(--secondary-content, 0 0% 100%);
  --a: var(--accent, 181 99% 49%);
  --af: var(--accent-focus, 181 100% 42%);
  --ac: var(--accent-content, 0 0% 100%);
  --n: var(-neutral, 215 28% 17%);
  --nf: var(--neutral-focus, 221 39% 11%);
  --nc: var(--neutral-content,0 0% 100%);
  --b1: var(--base-100, 240 8% 95%);
  --b2: var(--base-200, 240 8% 95%);
  --b3: var(--base-300, 216 12% 84%);
  --bc: var(--base-content, 215 28% 17%);
  --in: 225 100% 60%;
  --su: 165 100% 41%;
  --wa: 35 95% 52%;
  --er: 345 100% 53%;

  --rounded-box: 1rem;
  --rounded-btn: 10px;
  --rounded-badge: 9999px;
  
  --animation-btn: 0.25s;
  --animation-input: .4s;
  
  --btn-text-case: uppercase;
  --btn-focus-scale: 0.95;

  --navbar-padding: .5rem;
  --border-btn: 1px;

  --tab-border: 1px;
  --tab-radius: 0.5rem;
  --tab-spacer: 0.5rem;

  --focus-ring: 2px;
  --focus-ring-offset: 2px;
}
@media (prefers-color-scheme: dark) {
	:root {
	  --p: var(--primary, 264 98% 47%);
    --pf: var(--primary-focus, 261 99% 39%);
    --pc: var(--primary-content, 0 0% 100%);
    --s: var(--secondary, 314 100% 47%);
    --sf: var(--secondary-focus, 314 100% 37%);
    --sc: var(--secondary-content, 0 0% 100%);
    --a: var(--accent, 181 99% 49%);
    --af: var(--accent-focus, 181 100% 42%);
    --ac: var(--accent-content, 0 0% 100%);
    --n: var(-neutral, 0 0% 92%);
    --nf: var(--neutral-focus, 0 3% 89%);
    --nc: var(--neutral-content, 215 27% 16%);
    --b1: var(--base-100, 206 27% 15%);
    --b2: var(--base-200, 215 27% 12%);
    --b3: var(--base-300, 210 30% 7%);
    --bc: var(--base-content, 0 0% 100%);
    --in: 225 100% 60%);
    --su: 165 100% 41%;
    --wa: 35 95% 52%;
    --er: 345 100% 53%;

    --rounded-box: 1rem;
    --rounded-btn: 10px;
    --rounded-badge: 9999px;
    
    --animation-btn: 0.25s;
    --animation-input: .4s;
    
    --btn-text-case: uppercase;
    --btn-focus-scale: 0.95;

    --navbar-padding: .5rem;
    --border-btn: 1px;

    --tab-border: 1px;
    --tab-radius: 0.5rem;
    --tab-spacer: 0.5rem;

    --focus-ring: 2px;
    --focus-ring-offset: 2px;
	}
}