.btn {
  border-width: var(--border-btn, 1px);
  animation: button-pop var(--animation-btn, 0.25s) ease-out;
  &:active:hover,
  &:active:focus{
    animation: none;
  }
  &:active:hover,
  &:active:focus{
    transform: scale( var(--btn-focus-scale, 0.95) );
  }

  /* default btn */
  & {
    @apply bg-neutral border-neutral text-neutral-content rounded-box;
    &:hover,
    &-active {
      @apply bg-neutral-focus border-neutral-focus;
    }
    &:focus-visible {
      --tw-ringoffset-width: var(--focus-ringoffset, 2px);

      --tw-ringoffset-shadow: var(--tw-ringinset) 0 0 0 var(--tw-ringoffset-width) var(--tw-ringoffset-color);
      --tw-ringshadow: var(--tw-ringinset) 0 0 0 calc(var(--focus-ring-2, 2px) + var(--tw-ringoffset-width)) var(--tw-ringcolor);
      box-shadow: var(--tw-ringoffset-shadow), var(--tw-ringshadow), 0 0 rgba(0,0,0,0);
      box-shadow: var(--tw-ringoffset-shadow), var(--tw-ringshadow), var(--tw-shadow, 0 0 rgba(0,0,0,0));
      @apply ring-2 ring-neutral ring-opacity-20;
    }
  }
  /* brand colors */
  &-primary {
    @apply bg-primary border-primary text-primary-content rounded-box;
    &:hover,
    &.btn-active {
      @apply bg-primary-focus border-primary-focus;
    }
    &:focus-visible {
      @apply ring-2 ring-primary ring-opacity-20;
    }
  }
  &-base {
    @apply bg-base-200 border-none text-base-content rounded-box;
    &:hover,
    &.btn-active {
      @apply bg-base-300 border-base-300;
    }
    &:focus-visible {
      @apply ring-2 ring-base-300 ring-opacity-20;
    }
  }
  &-gradient {
    @apply border-none bg-gradient-to-r from-accent via-primary to-secondary rounded-box;
    &:hover,
    &.btn-active {
      @apply transition duration-500 ease-in-out bg-gradient-to-r from-accent to-primary;
    }
    &:focus-visible {
      @apply ring-2 ring-primary ring-opacity-20;
    }
  }
  &-gradient-two {
    @apply border-none bg-gradient-to-r from-primary to-accent rounded-box;
    &:hover,
    &.btn-active {
      @apply transition duration-500 ease-in-out bg-gradient-to-r from-accent to-primary;
    }
    &:focus-visible {
      @apply ring-2 ring-primary ring-opacity-20;
    }
  }
  &-secondary {
    @apply bg-secondary border-secondary text-secondary-content rounded-box;
    &:hover,
    &.btn-active {
      @apply bg-secondary-focus border-secondary-focus;
    }
    &:focus-visible {
      @apply ring-2 ring-secondary ring-opacity-20;
    }
  }
  &-accent {
    @apply bg-accent border-accent text-accent-content rounded-box;
    &:hover,
    &.btn-active {
      @apply bg-accent-focus border-accent-focus;
    }
    &:focus-visible {
      @apply ring-2 ring-accent ring-opacity-20;
    }
  }

  &-glow {
    box-shadow: rgb(255, 255, 255) 0px 1px 2px 0px, rgba(255, 255, 255, 0.15) 0px 4px 9px 0px inset
  }

  /* btn with state colors */
  &-info {
    @apply bg-info border-info text-base-200 rounded-box;
    &:hover,
    &.btn-active {
      @apply bg-info border-info;
    }
    &:focus-visible {
      @apply ring-2 ring-info ring-opacity-20;
    }
  }
  &-success {
    @apply bg-success border-success text-base-200 rounded-box;
    &:hover,
    &.btn-active {
      @apply bg-success border-success;
    }
    &:focus-visible {
      @apply ring-2 ring-success ring-opacity-20;
    }
  }
  &-warning {
    @apply bg-warning border-warning text-base-200 rounded-box;
    &:hover,
    &.btn-active {
      @apply bg-warning border-warning;
    }
    &:focus-visible {
      @apply ring-2 ring-warning ring-opacity-20;
    }
  }
  &-error {
    @apply bg-error border-error text-base-200 rounded-box;
    &:hover,
    &.btn-active {
      @apply bg-error border-error;
    }
    &:focus-visible {
      @apply ring-error;
    }
  }

  /* glass */
  &.glass{
    &:hover,
    &.btn-active {
      @apply bg-base-100 opacity-40 rounded-box;
      backdrop-filter: blur( 16.0px );
      -webkit-backdrop-filter: blur( 16.0px );
    }
    &:focus-visible {
      --tw-ringcolor: hsl(0deg 0% 100% / 0%);
      --tw-ringoffset-color: hsl(0deg 0% 0% / 30%);

      --tw-ringoffset-width: var(--focus-ringoffset, 2px);

      --tw-ringoffset-shadow: var(--tw-ringinset) 0 0 0 var(--tw-ringoffset-width) var(--tw-ringoffset-color);
      --tw-ringshadow: var(--tw-ringinset) 0 0 0 calc(var(--focus-ring-2, 2px) + var(--tw-ringoffset-width)) var(--tw-ringcolor);
      box-shadow: var(--tw-ringoffset-shadow), var(--tw-ringshadow), 0 0 transparent;
      box-shadow: var(--tw-ringoffset-shadow), var(--tw-ringshadow), var(--tw-shadow, 0 0 transparent);
    }
  }

  /* btn variants */
  &-ghost {
    @apply bg-transparent text-current border border-transparent rounded-box;
    &:hover,
    &.btn-active {
      @apply bg-base-content bg-opacity-20 border-opacity-0 rounded-box;
    }
    &:focus-visible {
      @apply ring-current ring-offset-0;
    }
  }
  &-link {
    @apply bg-transparent border-transparent text-base-content rounded-box;
    &:hover,
    &.btn-active {
      @apply text-primary bg-transparent border-transparent;
    }
    &.btn-underline {
      @apply underline bg-transparent border-transparent;
    }
    &:focus-visible {
      @apply ring-primary ring-offset-0;
    }
  }

  /* outline */
  &-outline {
    @apply bg-transparent text-base-content border-2 border-base-200 rounded-box;
    &:hover {
      @apply bg-base-content border-base-content text-base-100;
    }
    &:focus-visible {
      @apply ring-current;
    }
    &.btn-base {
    @apply bg-transparent text-base-content rounded-box;
    &:hover {
      @apply bg-base-200 border-base-300 text-base-content;
    }
  }
    &.btn-primary {
      @apply text-primary;
      &:hover {
        @apply bg-primary-focus text-primary-content border-primary-focus rounded-box;
      }
    }
    &.btn-secondary {
      @apply text-secondary;
      &:hover {
        @apply bg-secondary-focus text-secondary-content border-secondary-focus rounded-box;
      }
    }
    &.btn-accent {
      @apply text-accent;
      &:hover {
        @apply bg-accent-focus text-accent-content border-accent-focus rounded-box;
      }
    }
  }

  /* disabled */
  &-disabled,
  &[disabled] {
    @apply bg-neutral border-opacity-0 bg-opacity-20 text-base-content text-opacity-20 rounded-box;
  }



  /* loading */
  &.loading {
    &.btn-square:before,
    &.btn-circle:before {
      @apply mr-0;
    }
  }
}
/* group */
.btn-group {
  & > input[type="radio"]:checked.btn,
  & > .btn-active {
    @apply bg-primary border-primary text-primary-content rounded-box;
    &:focus-visible {
      box-shadow: 0 0 0 2px hsl(var(--b1)), 0 0 0 4px hsl(var(--p));
    }
  }
  & > .btn:not(:first-child) {
    @apply rounded-l-none -ml-px;
  }
  & > .btn:not(:last-child) {
    @apply rounded-r-none;
  }
}

@keyframes button-pop {
  0% {
    transform: scale( var(--btn-focus-scale, 0.95) );
  }
  40% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}