.card {
  @apply bg-base-100 rounded-box h-full transition duration-500 ease-in-out hover:shadow-lg ;
  &:focus-visible{
    @apply ring ring-base-content ring-offset-base-100 ring-opacity-20;
  }
  &.bordered{
    @apply border border-base-300;
  }
  &.compact{
    .card-body {
      @apply p-4 text-sm;
    }
    .card-title {
      @apply mb-1;
    }
  }
  &-user {
    @apply w-full flex justify-between px-4 py-4 text-sm text-base-content;
  }
  &-body {
    @apply text-base-content;
    padding: var(--padding-card, 1rem);
  }
  &-body-centerd {
    padding: var(--padding-card, 1rem);
    jusitfy: center;
  }
  &-title {
    @apply my-2 text-base-content;
  }
  &-text {
    @apply text-base text-base-content opacity-50;
  }
  &-details {
    @apply flex justify-start text-base-content items-center;
  }
  &-actions:first-child {
    @apply mb-2;
  }
  &-actions:last-child {
    @apply mt-2;
  }
  &-image-padding {
   @apply p-2 pb-0 rounded-box;
  }
  &-image {
    @apply rounded-box;
   }
  &-overlay-cb {
    @apply inline-flex items-center justify-center px-4 absolute bottom-32;
  } 
  &-overlay-tr{ 
    @apply flex justify-end absolute top-6 right-4;
  }
  &.image-full {
    &:before {
      @apply bg-gradient-to-b from-neutral to-transparent z-10 opacity-30 rounded-box;
    }
  }
  &.image-full > &-body {
    @apply text-neutral-content z-20;
  }
}
