.progress{
  @apply rounded-box h-2 shadow;
  &::-moz-progress-bar{
    @apply bg-neutral;
  }
  &:hover {
    @apply shadow-sm;
  }
  &-primary::-moz-progress-bar{
    @apply bg-primary;
  }
  &-secondary::-moz-progress-bar{
    @apply bg-secondary;
  }
  &-accent::-moz-progress-bar{
    @apply bg-accent;
  }
  &-info::-moz-progress-bar{
    @apply bg-info;
  }
  &-success::-moz-progress-bar{
    @apply bg-success;
  }
  &-warning::-moz-progress-bar{
    @apply bg-warning;
  }
  &-error::-moz-progress-bar{
    @apply bg-error;
  }
  &::-webkit-progress-bar{
    @apply bg-neutral bg-opacity-20 rounded-box;
  }
  &::-webkit-progress-value{
    @apply rounded-box bg-neutral-focus;
  }
  &-primary::-webkit-progress-value{
    @apply bg-primary;
  }
  &-secondary::-webkit-progress-value{
    @apply bg-secondary;
  }
  &-accent::-webkit-progress-value{
    @apply bg-accent;
  }
  &-info::-webkit-progress-value{
    @apply bg-info;
  }
  &-success::-webkit-progress-value{
    @apply bg-success;
  }
  &-warning::-webkit-progress-value{
    @apply bg-warning;
  }
  &-error::-webkit-progress-value{
    @apply bg-error;
  }
  &-gradient::-webkit-progress-value{
      background: repeating-linear-gradient(to right, --p, --s, --c);
      width: 100%;
      background-size: 200% auto;
      background-position: 0 100%;
      animation: gradient 2s infinite;
      animation-fill-mode: forwards;
      animation-timing-function: linear;
    
    @keyframes gradient { 
      0%   { background-position: 0 0; }
      100% { background-position: -200% 0; }
    }
  }
}
