.select {
  @apply  transition duration-200 ease-in-out rounded-box font-semibold bg-base-200 pr-10;
  &-bordered {
    @apply border border-base-300 bg-base-100;
  }
  &:focus {
    @apply border border-neutral shadow-md ring-2 ring-opacity-20 ring-neutral outline-none rounded-box;
  }
  background-image:
    linear-gradient(45deg, transparent 50%, currentColor 50%),
    linear-gradient(135deg, currentColor 50%, transparent 50%);
  background-position:
    calc(100% - 20px) calc(1px + 50%),
    calc(100% - 16px) calc(1px + 50%);
  background-size:
    4px 4px,
    4px 4px;
  background-repeat: no-repeat;
  &:focus {
    box-shadow: var(--tw-ringoffset-shadow), var(--tw-ringshadow), 0 0 rgba(0,0,0,0);
    box-shadow: var(--tw-ringoffset-shadow), var(--tw-ringshadow), var(--tw-shadow, 0 0 rgba(0,0,0,0));
    @apply border border-neutral shadow-md ring-2 ring-opacity-20 ring-neutral outline-none;
  }
  &-ghost {
    @apply bg-opacity-5;
    &:focus {
      @apply bg-opacity-100 shadow-none ring-0 ring-offset-0 text-base-content rounded-box;
    }
  }
  &-info {
    @apply border border-info;
    &:focus {
      @apply border-info ring-2 ring-opacity-20 ring-info outline-none rounded-box;
    }
  }
  &-highlited {
    @apply w-full mt-2 pr-4 h-16 py-2 flex items-center justify-between focus:ring-primary ring-8 shadow-lg ring-primary ring-opacity-20;
  }
  &-success {
    @apply border border-success;
    &:focus {
      @apply border-success ring-2 ring-opacity-20 ring-success outline-none rounded-box;
    }
  }
  &-warning {
    @apply border border-warning;
    &:focus {
      @apply border-warning ring-2 ring-opacity-20 ring-warning outline-none rounded-box;
    }
  }
  &-error {
    @apply border border-error;
    &:focus {
      @apply border-warning ring-2 ring-opacity-20 ring-error outline-none rounded-box;
    }
  }
  &-primary {
    @apply border border-base-300;
    &:focus {
      @apply border-primary ring-2 ring-opacity-20 ring-primary outline-none rounded-box;
    }
  }
  &-secondary {
    @apply border border-base-300;
    &:focus {
      @apply border-secondary ring-2 ring-opacity-20 ring-secondary outline-none rounded-box;
    }
  }
  &-accent {
    @apply border border-base-300;
    &:focus {
      @apply border-accent ring-2 ring-opacity-20 ring-accent outline-none rounded-box;
    }
  }
  &-disabled,
  &[disabled] {
    @apply cursor-not-allowed bg-base-200 border-base-200 text-opacity-20 placeholder-base-content placeholder-opacity-20;
  }
}
