[data-theme='mintgate'] {
    --p: 252 96% 61%;
    --pf: 253 69% 42%;
    --pc: 0 0% 100%;
    --s: 288 87% 59%;
    --sf: 287 73% 41%;
    --sc: 0 0% 100%;
    --a: 186 100% 50%;
    --af: 187 100% 41%;
    --ac: 0 0% 100%;
    --n: 215 28% 17%;
    --nf: 221 39% 11%;
    --nc: 0 0% 100%;
    --b1: 0 0% 100%;
    --b2: 0 0% 94%;
    --b3: 0 0% 91%;
    --bc: 215 28% 17%;
    --in: 214 100% 48%;
    --su: 163 93% 45%;
    --wa: 41 96% 53%;
    --er: 348 73% 56%;
}